<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/krystonen"><i class="fab fa-github"></i></a>
    <a href="https://www.facebook.com/krystonen" class="fab fa-facebook-f" target="_blank"></a>
    <a href="https://www.linkedin.com/in/krystonen/" class="fab fa-linkedin-in" target="_blank" ></a>
    <a href="https://www.instagram.com/krystonen" class="fab fa-instagram" target="_blank"></a>
    <a href="https://www.twitter.com/krystonen" class="fab fa-twitter" target="_blank"></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Krisztina
  </div>
</div>
