
<div class="jumbotron jumbo-img">
  <div class="jumbo-text">
    <h1>Krisztina Kovari</h1>
    <p>full-stack web developer</p>
  </div>
</div>

<div class="wrapping">
  <div id="main">
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div class="block-text">
          <p> I graduated at Le Wagon Amsterdam in 2018 November as a full-stack web developer.
          During this intensive 9-week bootcamp I learnt HTML, CSS, Bootstrap, Javascript, SQL, git, gitHub, Heroku, and Ruby on Rails.
          To further develop my skills as a software developer I am ready to take on a full-time job and I am also interested in building unique, responsive websites for individuals and small businesses.
          </p>

        <div class="text-center">
          <%= mail_to "krystonen@gmail.com", "contact me", class: "button"%>
        </div>
        </div>
      </div>
       <div class="col-xs-12 col-md-3 text-center">
        <div class="block-img">
          <%= image_tag "avatar.jpg", class:"avatar"%>
        </div>
      </div>
    </div>

  </div>
</div>
